div{
  float:left;
}
.one{
  width:300px;
  height:400px;
  border:1px solid orangered;
}
.two{
  width:400px;
  min-height:500px;
  border:1px solid orange;
}
.three{
  width:400px;
  min-height:500px;
  border:1px solid darkorange;
}