@import "compass/reset";
li{
  list-style:none;
}
@for $i from 1 through 12{
  .col-#{$i}{
    width: 100% / 12 * $i;
    float:left;
  }
}

.clear{
  clear:both;
}
.container{
  width:940px;
}
.row{
  width:100%;}

.detail{
  //height:800px;
  //background: orange;
  .row{
    margin-top: 25px;
  }
}
.other{
  //height: 300px;
  //background: darkorange;
  //padding:5px;
  .title-tt{
    background: #1f85aa;
    color:#fff;
    margin-top: 25px;
  }
}
.html-d{
  padding-left: 10px;
  font-size:1.3em;
}



.navbar{
  height:80px;
  background: #72b842;
  overflow:hidden;
  ul{
    float: right;
    li{
      float: left;
      height:80px;
      line-height:80px;
      width:90px;
      font-size: 1.5em;
      color:#fff;
    }
  }
  menu{float:left;}
}
.logo{
  height:70px;
  width:160px;
  background: url("../img/logo.png") no-repeat -5px -3px ;
}


.title-g{
  height:45px;
  margin-top: 30px;
  line-height:45px;
  border-bottom: 1px solid darkorange;
  //background: yellowgreen;
  div:nth-child(1){
    float:left;
    font-size: 2em;
  }
  div:nth-child(2){
    float:right;
    width:50px;
    height:45px;
    background: url("../img/end-logo.png") no-repeat center 10px;
  }
}
.d-one{
  div{

  }
  .col-2{
    //background: red;
  }
  .col-10{
    //background: yellow;
    min-height:270px;

  }
}

.d-tow{
  div{
  }
  .col-2{
    //background: red;
  }
  .col-10{
    //background: #000;
    min-height:270px;
    padding-bottom: 20px;

  }
}





.person{
  height:110px;
  background: #fef;
}



.img{
  text-align: center;
  overflow: hidden;
  img{
    //height:135px;
    width:560px !important;
    &:hover{
      //-webkit-animation: down .5s linear;
      //animation: down 1s;
    }
  }

}

.center{
  margin-left: auto;
  margin-right: auto;
}

.title-tt{
  height:40px;
  line-height:40px;
  font-size: 1.5em;
  padding-left: 10px;

}
.title-dd{
  height:30px;
  line-height: 30px;
}

.study-btn{
  position: relative;
  border:none;
  height:30px;
  padding:0;
  width:81px;
  overflow: hidden;

  div{
    width:148px;
    background: #000;
    top:0;
    //left:-66px;
    position: absolute;
    &:hover{
      //animation: left .3s linear;
    }
  }
  //background: none;
  span{
    font-size: 1.2em;
    height:30px;
    line-height:30px;
    display: block;
    float:left;
  }
  span:nth-child(1){
    background: #000;
    color:#fff;
  }
  span:nth-child(2){
    background: #1f85aa;
    color:#fff;
  }
}



.blog{
  height:300px;
  background-color: -red;
  margin-top: 30px;
}
.more-c{
  li{
    clear:both;
    padding-top:5px;
    img{
      float:left;
      width:50px;
    }
    div{
      float:left;
    }
  }
}




.footer{
  height:220px;
  color:#fff;
  margin-top: 30px;
  background-color: #111111;
  div{
    float:left;
  }
}






.date{
  width:73px;
  height:73px;
  background: url("../img/blog/date.png") no-repeat;
  font-size: 1.8em;
  color:#fff;
  text-align:center;
}
